// 底部导航
.nav-box {
  width: 100%;
  bottom: 0;
  .box {
    margin-top: 5px;
    cursor: pointer;
    img {
      width: 20px;
    }
    .text {
      font-weight: 600;
      margin-bottom: 3px;
    }
  }
}

// 图标高亮颜色 向其父元素盒子添加
.highlight {
  i {
    color: #fe8100;
  }
}
