body {
  background-color: #ebebeb;
  height: 100%;
}

.app {
  margin: 20px 20px 20px 0;
  padding-left: 300px;
}

.links {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  // width: 100%;
  // height: 50px;
  // border: 1px solid;
  flex-direction: column;
  position: fixed;

  // align-items: center; 
  // flex-wrap: wrap;
  a {
    background-color: #fff;
    border: 1px solid;
    padding: 3px 5px;
    margin: 3px;
    margin-top: 10px;
    width: 200px;
    // height: 80px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
}